In [1]:
from SciServer import SkyQuery
print('Imported SciServer modules')

Imported SciServer modules

In [3]:
from pprint import pprint
print('Imported other needed modules')

Imported other needed modules

In [6]:
# List all the datasets available through SkyQuery. You can cross-match among any of these using its name.

datasets = SkyQuery.listAllDatasets()
pprint(datasets)

[{'isMutable': False, 'name': 'SDSSDR7'},
 {'isMutable': True, 'name': 'MYDB'},
 {'isMutable': False, 'name': 'FUSE'},
 {'isMutable': False, 'name': 'PSCz'},
 {'isMutable': False, 'name': 'TwoDF'},
 {'isMutable': False, 'name': 'SDSSDR12'},
 {'isMutable': False, 'name': 'TwoMASS'},
 {'isMutable': False, 'name': 'TwoQZ'},
 {'isMutable': True, 'name': 'MYSCRATCH'},
 {'isMutable': False, 'name': 'SDSSDR13'},
 {'isMutable': False, 'name': 'NDWFS'},
 {'isMutable': False, 'name': 'DLS'},
 {'isMutable': False, 'name': 'IRAS'},
 {'isMutable': False, 'name': 'GALEX'},
 {'isMutable': False, 'name': 'RC3'},
 {'isMutable': False, 'name': 'USNOB'},
 {'isMutable': False, 'name': 'AGC'},
 {'isMutable': False, 'name': 'WISE'},
 {'isMutable': False, 'name': 'NVSS'}]

In [34]:
#get info about your MyDB (the same MyDB as in CasJobs)

info = SkyQuery.getDatasetInfo("MyDB")
print(info)

tables = SkyQuery.listDatasetTables("MyDB")
pprint(tables)

{'isMutable': True, 'name': 'MYDB'}
[{'class': '',
  'columns': [{'class': '',
               'dataType': 'int',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'int',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.MyNewtable4',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'int',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'int',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.MyNewtable54',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'int',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'int',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.MyNewtable55',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'float',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 8,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'bigint',
               'name': 'ID',
               'quantity': '',
               'remarks': '',
               'size': 8,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'float',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 8,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.TestTable_SkyQuery',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'decimal',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 16,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'decimal',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 16,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.QuickResults',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'int',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'int',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.MyNewtable544',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'int',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'int',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.MyNewtable3',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'int',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'int',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.MyNewtable2',
  'remarks': '',
  'summary': ''}]

In [11]:
#list available job queues

queueList = SkyQuery.listQueues()
pprint(queueList)

[{'name': 'Maintenance', 'pendingJobCount': 0},
 {'name': 'Long', 'pendingJobCount': 0},
 {'name': 'Quick', 'pendingJobCount': 0}]

In [13]:
#Define query

SkyQuery_Query = "select 4.5 as Column1, 5.5 as Column2"

#submit a query as a job
jobId = SkyQuery.submitJob(query=SkyQuery_Query, queue="quick")
print(jobId)

fec6e4a7-b1ed-4a9f-9942-c8dc16241b12

In [15]:
#get status of a submitted job

jobId = SkyQuery.submitJob(query=SkyQuery_Query, queue="quick")
jobDescription = SkyQuery.getJobStatus(jobId=jobId)
pprint(jobDescription)

{'canCancel': True,
 'comments': '',
 'dateCreated': '2017-08-10T11:08:35',
 'guid': '494fec67-b3e1-471d-98fa-0e2ed81d097d',
 'hasError': False,
 'name': 'sdssraddick_17081011083589542',
 'query': 'select 4.5 as Column1, 5.5 as Column2',
 'queue': 'quick',
 'status': 'waiting'}

In [18]:
# wait for a job to be finished and then get the status

jobId = SkyQuery.submitJob(query=SkyQuery_Query, queue="quick")
jobDescription = SkyQuery.waitForJob(jobId=jobId, verbose=True)

print('\n')
print("jobDescription:")

pprint(jobDescription)

Waiting...Waiting...Waiting...Waiting...Done!


jobDescription:
{'canCancel': False,
 'comments': '',
 'dateCreated': '2017-08-10T11:09:35',
 'dateFinished': '2017-08-10T11:09:39',
 'dateStarted': '2017-08-10T11:09:38',
 'guid': '67cff96b-57ba-4ac7-8954-855374254e79',
 'hasError': False,
 'name': 'sdssraddick_17081011093595435',
 'output': 'MYDB:webuser.QuickResults',
 'query': 'select 4.5 as Column1, 5.5 as Column2',
 'queue': 'quick',
 'status': 'completed'}

In [22]:
# cancel a job that is running, and then get its status to prove it is cancelled

jobId = SkyQuery.submitJob(query=SkyQuery_Query, queue="long")
SkyQuery.cancelJob(jobId)

print("job status:")
pprint(SkyQuery.getJobStatus(jobId=jobId))

job status:
{'canCancel': False,
 'comments': '',
 'dateCreated': '2017-08-10T11:10:09',
 'dateFinished': '2017-08-10T11:10:09',
 'guid': 'f045922c-f084-4956-aa84-d26dd6247448',
 'hasError': False,
 'name': 'sdssraddick_17081011100932028',
 'query': 'select 4.5 as Column1, 5.5 as Column2',
 'queue': 'long',
 'status': 'canceled'}

In [26]:
# Get a list of all the jobs you have run. Retruns two dictionaries: one for the Quick queue and one for the Long queue.

quickJobsList = SkyQuery.listJobs('quick')
longJobsList = SkyQuery.listJobs('long')
print('Quick Jobs:')
pprint(quickJobsList)
print('\n')
print('Long jobs:')
pprint(longJobsList)

Quick Jobs:
[{'queryJob': {'canCancel': False,
               'comments': '',
               'dateCreated': '2017-08-10T11:09:35',
               'dateFinished': '2017-08-10T11:09:39',
               'dateStarted': '2017-08-10T11:09:38',
               'guid': '67cff96b-57ba-4ac7-8954-855374254e79',
               'hasError': False,
               'name': 'sdssraddick_17081011093595435',
               'output': 'MYDB:webuser.QuickResults',
               'query': 'select 4.5 as Column1, 5.5 as Column2',
               'queue': 'quick',
               'status': 'completed'}},
 {'queryJob': {'canCancel': False,
               'comments': '',
               'dateCreated': '2017-08-10T11:09:12',
               'dateFinished': '2017-08-10T11:09:13',
               'dateStarted': '2017-08-10T11:09:12',
               'guid': '6c11c8e5-5622-489a-b1cb-ef59202f4b2e',
               'hasError': False,
               'name': 'sdssraddick_17081011091249166',
               'output': 'MYDB:webuser.QuickResults',
               'query': 'select 4.5 as Column1, 5.5 as Column2',
               'queue': 'quick',
               'status': 'completed'}},
 {'queryJob': {'canCancel': False,
               'comments': '',
               'dateCreated': '2017-08-10T11:08:47',
               'dateFinished': '2017-08-10T11:08:52',
               'dateStarted': '2017-08-10T11:08:52',
               'guid': 'e7b32da5-151b-4aef-815f-ab0442ebcd03',
               'hasError': False,
               'name': 'sdssraddick_17081011084705278',
               'output': 'MYDB:webuser.QuickResults',
               'query': 'select 4.5 as Column1, 5.5 as Column2',
               'queue': 'quick',
               'status': 'completed'}},
 {'queryJob': {'canCancel': False,
               'comments': '',
               'dateCreated': '2017-08-10T11:08:35',
               'dateFinished': '2017-08-10T11:08:37',
               'dateStarted': '2017-08-10T11:08:36',
               'guid': '494fec67-b3e1-471d-98fa-0e2ed81d097d',
               'hasError': False,
               'name': 'sdssraddick_17081011083589542',
               'output': 'MYDB:webuser.QuickResults',
               'query': 'select 4.5 as Column1, 5.5 as Column2',
               'queue': 'quick',
               'status': 'completed'}},
 {'queryJob': {'canCancel': False,
               'comments': '',
               'dateCreated': '2017-08-10T11:08:32',
               'dateFinished': '2017-08-10T11:08:37',
               'dateStarted': '2017-08-10T11:08:36',
               'guid': 'a80f8d07-d8be-479d-849b-31bc22fb51ec',
               'hasError': False,
               'name': 'sdssraddick_17081011083200533',
               'output': 'MYDB:webuser.QuickResults',
               'query': 'select 4.5 as Column1, 5.5 as Column2',
               'queue': 'quick',
               'status': 'completed'}},
 {'queryJob': {'canCancel': False,
               'comments': '',
               'dateCreated': '2017-08-10T11:08:27',
               'dateFinished': '2017-08-10T11:08:33',
               'dateStarted': '2017-08-10T11:08:30',
               'guid': 'fec6e4a7-b1ed-4a9f-9942-c8dc16241b12',
               'hasError': False,
               'name': 'sdssraddick_17081011082748626',
               'output': 'MYDB:webuser.QuickResults',
               'query': 'select 4.5 as Column1, 5.5 as Column2',
               'queue': 'quick',
               'status': 'completed'}}]


Long jobs:
[{'queryJob': {'canCancel': False,
               'comments': '',
               'dateCreated': '2017-08-10T11:10:09',
               'dateFinished': '2017-08-10T11:10:09',
               'guid': 'f045922c-f084-4956-aa84-d26dd6247448',
               'hasError': False,
               'name': 'sdssraddick_17081011100932028',
               'query': 'select 4.5 as Column1, 5.5 as Column2',
               'queue': 'long',
               'status': 'canceled'}},
 {'queryJob': {'canCancel': False,
               'comments': '',
               'dateCreated': '2017-08-10T11:10:03',
               'dateFinished': '2017-08-10T11:10:03',
               'guid': '377ada7f-2f82-4a98-b27c-79a7c099c463',
               'hasError': False,
               'name': 'sdssraddick_17081011100389700',
               'query': 'select 4.5 as Column1, 5.5 as Column2',
               'queue': 'long',
               'status': 'canceled'}},
 {'queryJob': {'canCancel': False,
               'comments': '',
               'dateCreated': '2017-08-10T11:09:54',
               'dateFinished': '2017-08-10T11:09:54',
               'guid': 'd052511e-4c56-4f28-8b31-25305d3bc48f',
               'hasError': False,
               'name': 'sdssraddick_17081011095461263',
               'query': 'select 4.5 as Column1, 5.5 as Column2',
               'queue': 'long',
               'status': 'canceled'}},
 {'queryJob': {'canCancel': False,
               'comments': '',
               'dateCreated': '2017-08-10T11:09:50',
               'dateFinished': '2017-08-10T11:09:49',
               'guid': '10416ab0-d81b-4c38-b922-881b2da888cd',
               'hasError': False,
               'name': 'sdssraddick_17081011095000003',
               'query': 'select 4.5 as Column1, 5.5 as Column2',
               'queue': 'long',
               'status': 'canceled'}}]

In [32]:
#define a csv table to be uploaded to into MyDB in SkyQuery

SkyQuery_TestTableName = "TestTable_SkyQuery"
SkyQuery_TestTableCSV = u"Column1,Column2\n15.5,16.5\n"

print('Test case variables set.')

Test case variables set.

In [35]:
# Uploading your sample CSV file. Returns true.
# This works only if the table you specified does not already exist.

result = SkyQuery.uploadTable(uploadData=SkyQuery_TestTableCSV, tableName=SkyQuery_TestTableName, datasetName="MyDB", format="csv")
print(result)

Exception: Error when uploading data to table TestTable_SkyQuery in dataset MyDB.
Http Response from SkyQuery API returned status code 500:
{"restError":{"LogEventID":"409665","Message":"Table copy failed: There is already an object named 'TestTable_SkyQuery' in the database.","StackTrace":"   at Jhu.Graywulf.IO.Tasks.CopyTableBase.HandleException(Exception ex, TableCopyResult result) in C:\\Data\\dobos\\project\\skyquery-all-v1.2\\graywulf\\dll\\Jhu.Graywulf.IO\\IO\\Tasks\\CopyTableBase.cs:line 431\u000d\u000a   at Jhu.Graywulf.IO.Tasks.ImportTable.OnExecute() in C:\\Data\\dobos\\project\\skyquery-all-v1.2\\graywulf\\dll\\Jhu.Graywulf.IO\\IO\\Tasks\\ImportTable.cs:line 156\u000d\u000a   at Jhu.Graywulf.Tasks.CancelableTask.Execute() in C:\\Data\\dobos\\project\\skyquery-all-v1.2\\graywulf\\dll\\Jhu.Graywulf.RemoteService\\Tasks\\CancelableTask.cs:line 86\u000d\u000a   at Jhu.Graywulf.RemoteService.RemoteServiceBase.Execute() in C:\\Data\\dobos\\project\\skyquery-all-v1.2\\graywulf\\dll\\Jhu.Graywulf.RemoteService\\RemoteService\\RemoteServiceBase.cs:line 44\u000d\u000a   at Jhu.Graywulf.Web.Api.V1.DataService.UploadTable(String datasetName, String tableName, Stream data) in C:\\Data\\dobos\\project\\skyquery-all-v1.2\\graywulf\\dll\\Jhu.Graywulf.Web.Api\\Web\\Api\\V1\\Services\\DataService.cs:line 175\u000d\u000a   at SyncInvokeUploadTable(Object , Object[] , Object[] )\u000d\u000a   at System.ServiceModel.Dispatcher.SyncMethodInvoker.Invoke(Object instance, Object[] inputs, Object[]& outputs)\u000d\u000a   at Jhu.Graywulf.Web.Services.RestOperationInvoker.Invoke(Object instance, Object[] inputs, Object[]& outputs) in C:\\Data\\dobos\\project\\skyquery-all-v1.2\\graywulf\\dll\\Jhu.Graywulf.Web\\Web\\Services\\RestOperationInvoker.cs:line 48","Type":"Jhu.Graywulf.IO.Tasks.TableCopyException"}}

In [39]:
# Downloading the contents of a table in your MyDB (returns a pandas dataframe)

table = SkyQuery.getTable(tableName=SkyQuery_TestTableName, datasetName="MyDB", top=10)
table

   #ID  Column1  Column2
0    1     15.5     16.5

In [41]:
#list tables inside dataset

tables = SkyQuery.listDatasetTables("MyDB")
pprint(tables)

[{'class': '',
  'columns': [{'class': '',
               'dataType': 'int',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'int',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.MyNewtable4',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'int',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'int',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.MyNewtable54',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'int',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'int',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.MyNewtable55',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'float',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 8,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'bigint',
               'name': 'ID',
               'quantity': '',
               'remarks': '',
               'size': 8,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'float',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 8,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.TestTable_SkyQuery',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'decimal',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 16,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'decimal',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 16,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.QuickResults',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'int',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'int',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.MyNewtable544',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'int',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'int',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.MyNewtable3',
  'remarks': '',
  'summary': ''},
 {'class': '',
  'columns': [{'class': '',
               'dataType': 'int',
               'name': 'Column2',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''},
              {'class': '',
               'dataType': 'int',
               'name': 'Column1',
               'quantity': '',
               'remarks': '',
               'size': 4,
               'summary': '',
               'unit': ''}],
  'example': '',
  'name': 'webuser.MyNewtable2',
  'remarks': '',
  'summary': ''}]

In [44]:
#get info for a specified table:

info = SkyQuery.getTableInfo(tableName="webuser." + SkyQuery_TestTableName, datasetName="MyDB")
pprint(info)

{'class': '',
 'columns': [{'class': '',
              'dataType': 'float',
              'name': 'Column1',
              'quantity': '',
              'remarks': '',
              'size': 8,
              'summary': '',
              'unit': ''},
             {'class': '',
              'dataType': 'float',
              'name': 'Column2',
              'quantity': '',
              'remarks': '',
              'size': 8,
              'summary': '',
              'unit': ''},
             {'class': '',
              'dataType': 'bigint',
              'name': 'ID',
              'quantity': '',
              'remarks': '',
              'size': 8,
              'summary': '',
              'unit': ''}],
 'example': '',
 'name': 'webuser.TestTable_SkyQuery',
 'remarks': '',
 'summary': ''}

In [46]:
#get dataset table columns info

columns = SkyQuery.listTableColumns(tableName="webuser." + SkyQuery_TestTableName, datasetName="MyDB")
pprint(columns)

[{'class': '',
  'dataType': 'float',
  'name': 'Column2',
  'quantity': '',
  'remarks': '',
  'size': 8,
  'summary': '',
  'unit': ''},
 {'class': '',
  'dataType': 'bigint',
  'name': 'ID',
  'quantity': '',
  'remarks': '',
  'size': 8,
  'summary': '',
  'unit': ''},
 {'class': '',
  'dataType': 'float',
  'name': 'Column1',
  'quantity': '',
  'remarks': '',
  'size': 8,
  'summary': '',
  'unit': ''}]

In [47]:
#drop (or delete) table from dataset.

result = SkyQuery.dropTable(tableName=SkyQuery_TestTableName, datasetName="MyDB");
print(result)

True